<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    color="primary"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span *ngIf="isExpanded">ATOMIC</span>

      <button mat-icon-button (click)="onResize()">
        <mat-icon *ngIf="!isExpanded; else arrow_back" class="mat-20"
          >arrow_forward_ios</mat-icon
        >
        <ng-template #arrow_back
          ><mat-icon class="mat-20">arrow_back_ios_new</mat-icon></ng-template
        >
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let page of pages">
        <a mat-list-item href="#">
          <mat-icon matListIcon>{{ page.icon }}</mat-icon>
          <h3 style="padding-right: 4.5rem" *ngIf="isExpanded" matLine>
            {{ page.name }}
          </h3></a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent" class="mat-elevation-z6">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
