.sidenav-container {
  height: 100%;
}

.sidenav {
  // width: 18rem;
  height: 100%;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  height: 3.5rem;
}
